@using MapBul.DBContext
@model List<marker>

<div class="col-xs-12">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Маркеры</h3>
        </div>
        <div class="ibox-content">
            <div class="panel-body">
                <input type="button" class="btn btn-primary" data-actionurl="@Url.Action("_NewMarkerModalPartial", "Markers")" value="Новый маркер" id="NewMarkerButton"/>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTable" id="MarkersTable">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Введение</th>
                        <th>Город</th>
                        <th>Адрес</th>
                        <th>Категория</th>
                        <th>Сайт</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var marker in Model)
                    {
                        <tr data-markerid="@marker.Id">
                            <td class="EditMarkerLink">
                                @marker.Id
                            </td>
                            <td class="EditMarkerLink">
                                @marker.Name
                            </td>
                            <td class="EditMarkerLink">
                                @marker.Introduction
                            </td>
                            <td class="EditMarkerLink">
                                @marker.city.Name, @marker.city.region.Name, @marker.city.region.country.Name
                            </td>
                            <td class="EditMarkerLink">
                                @marker.Street, д. @marker.House, стр. @marker.Buliding, эт. @marker.Floor
                            </td>
                            <td class="EditMarkerLink">
                                @marker.category.Name
                            </td>
                            <td class="EditMarkerLink">
                                @marker.Site
                            </td>
                            <td>
                                @{
                                    var tmp = marker;
                                }
                                @Html.DropDownList("MarkerSatusSelect", ((List<status>)ViewBag.Statuses).Select(s => new SelectListItem { Text = s.Description, Value = s.Id.ToString(), Selected = s.Id == tmp.StatusId }), new Dictionary<string, object> { { "class", "MarkerSatusSelect form-control chosenselect" }, { "data-markerid", marker.Id } })
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
