@using MapBul.DBContext
@using MapBul.Web.Helpers
@model MapBul.Web.Models.NewArticleModel

<div class="ibox">
    <div class="ibox-title">
        <h3>Новая статья</h3>
    </div>
    <div class="ibox-content">
        <form action="#" method="POST" id="EditArticleForm">
            <div class="row">
                @Html.HiddenFor(m=>m.Photo)
                @Html.HiddenFor(m=>m.TitlePhoto)
                @Html.HiddenFor(m=>m.Id)
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Title, new Dictionary<string, object> {{"placeholder", "Название"}, {"class", "form-control"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Description, new Dictionary<string, object> {{"placeholder", "Описание"}, {"class", "form-control"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Text, new Dictionary<string, object> {{"placeholder", "Текст"}, {"class", "form-control"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        @Html.TextBox("EventDate", Model.EventDate!=null?Model.EventDate.Value.ToString("dd.MM.yyyy"):"",new Dictionary<string, object> {{"placeholder", "Дата события"}, {"class", "form-control datepicker"}})
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Фотография заголовка</label>
                                @if (Model.TitlePhoto != null)
                                {
                                    <img class="col-xs-7" src="@Html.MapImage(Model.TitlePhoto)" />
                                }
                                else
                                {
                                    <label class="label-danger">Не задано</label>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Фотография статьи</label>
                                @if (Model.Photo != null)
                                {
                                    <img class="col-xs-7" src="@Html.MapImage(Model.Photo)"/>
                                }
                                else
                                {
                                    <label class="label-danger">Не задано</label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Новая фотография заголовка</label>
                        <input type="file" id="EditArticleTitlePhotoInput" class="form-control fileinput" accept="image/jpeg, image/png" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Новая фотография статьи</label>
                        <input type="file" id="EditArticlePhotoInput" class="form-control fileinput" accept="image/jpeg, image/png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Базовая категория</label>
                        @Html.DropDownListFor(m => m.BaseCategoryId, ((List<category>) ViewBag.Categories).Select(c => new SelectListItem {Selected = Model.BaseCategoryId == c.Id, Text = c.Name, Value = c.Id.ToString()}), new Dictionary<string, object> {{"class", "form-control chosenselect"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        <label class="control-label">Тэги</label>
                        @Html.ListBoxFor(m => m.SubCategories, ((List<category>) ViewBag.Categories).Select(c => new SelectListItem {Selected = Model.SubCategories.Contains(c.Id), Text = c.Name, Value = c.Id.ToString()}), new Dictionary<string, object> {{"class", "form-control chosenselect"}, {"multiple", ""}, {"data-placeholder", "Выберите тэги"}})
                    </div>
                    <div class="form-group">
                        <label class="control-label">Привязка к маркеру</label>
                        @Html.DropDownListFor(m => m.MarkerId, ((List<marker>)ViewBag.Markers).Select(c => new SelectListItem { Selected = Model.MarkerId == c.Id, Text = c.Name + ", " + c.city.Name + ", " + c.city.region.Name + ", " + c.city.region.country.Name, Value = c.Id.ToString() }).Union(new List<SelectListItem> { new SelectListItem { Selected = Model.MarkerId == null, Text = "Нет", Value = null } }), new Dictionary<string, object> { { "id", "EditArticleMarkerSelect" }, { "class", "form-control chosenselect" }, { "required", "" } })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Статус</label>
                        @Html.DropDownListFor(m => m.StatusId, ((List<status>) ViewBag.Statuses).Select(c => new SelectListItem {Selected = Model.StatusId == c.Id, Text = c.Description, Value = c.Id.ToString()}), new Dictionary<string, object> {{"class", "form-control chosenselect"}, {"required", ""}})
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <input type="button" id="EditArticleFormSubmit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        OnEditArticleDocumentReady();
    });
</script>