@using MapBul.DBContext
@using MapBul.Web.Helpers
@using MapBul.Web.Resource
@model MapBul.Web.Models.NewArticleModel

<div class="ibox">
    <div class="ibox-title">
        <h3>@Resource.ArtNewArticle</h3>
    </div>
    <div class="ibox-content">
        <form action="#" method="POST" id="EditArticleForm">
            <div class="row">
                @Html.HiddenFor(m=>m.Photo)
                @Html.HiddenFor(m=>m.TitlePhoto)
                @Html.HiddenFor(m=>m.Id)
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Title, new Dictionary<string, object> {{"placeholder", Resource.Name }, {"class", "form-control"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Description, new Dictionary<string, object> {{"placeholder", Resource.Description }, {"class", "form-control"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Text, new Dictionary<string, object> {{"placeholder", Resource.Text }, {"class", "form-control"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        @Html.TextBox("StartDate", Model.StartDate != null ? Model.StartDate.Value.ToString("dd.MM.yyyy") : "", new Dictionary<string, object> {{"placeholder", Resource.ArtEventStartDate }, {"class", "form-control datepicker"}})
                    </div>
                    <div class="form-group">
                        @Html.TextBox("EndDate", Model.EndDate != null ? Model.EndDate.Value.ToString("dd.MM.yyyy") : "", new Dictionary<string, object> { { "placeholder", Resource.ArtEventEndDate }, { "class", "form-control datepicker" } })
                    </div> 
                    @* Говнокод для пикера времени *@
                    <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                        @Html.TextBox("StartTime", Model.StartTime != null ? Model.StartTime.Value.ToString(@"hh\:mm") : "", new Dictionary<string, object> { { "placeholder", Resource.ArtEventStartTime }, { "class", "form-control" } })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <script type="text/javascript">
                        $('.clockpicker').clockpicker();
                    </script>
                    @* Говнокод для пикера времени *@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@Resource.ArtHeaderPhoto</label>
                                @if (Model.TitlePhoto != null)
                                {
                                    <img class="col-xs-7" src="@Html.MapImage(Model.TitlePhoto)" />
                                }
                                else
                                {
                                    <label class="label-danger">Не задано</label>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">@Resource.ArtArticlePhoto</label>
                                @if (Model.Photo != null)
                                {
                                    <img class="col-xs-7" src="@Html.MapImage(Model.Photo)"/>
                                }
                                else
                                {
                                    <label class="label-danger">Не задано</label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">@Resource.ArtNewHeaderPhoto</label>
                        <input type="file" id="EditArticleTitlePhotoInput" class="form-control fileinput" accept="image/jpeg, image/png" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">@Resource.ArtNewArticlePhoto</label>
                        <input type="file" id="EditArticlePhotoInput" class="form-control fileinput" accept="image/jpeg, image/png" />
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.SourceUrl, new Dictionary<string, object> { { "placeholder", Resource.ArtSourceLink }, { "class", "form-control" }})
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.SourcePhoto, new Dictionary<string, object> { { "placeholder", Resource.Photo }, { "class", "form-control" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@Resource.BaseCategory</label>
                        @Html.DropDownListFor(m => m.BaseCategoryId, ((List<category>) ViewBag.Categories).Select(c => new SelectListItem {Selected = Model.BaseCategoryId == c.Id, Text = c.Name, Value = c.Id.ToString()}), new Dictionary<string, object> {{"class", "form-control chosenselect"}, {"required", ""}})
                    </div>
                    <div class="form-group">
                        <label class="control-label">Тэги</label>
                        @Html.ListBoxFor(m => m.SubCategories, ((List<category>) ViewBag.Categories).Select(c => new SelectListItem {Selected = Model.SubCategories.Contains(c.Id), Text = c.Name, Value = c.Id.ToString()}), new Dictionary<string, object> {{"class", "form-control chosenselect"}, {"multiple", ""}, {"data-placeholder", "Выберите тэги"}})
                    </div>
                    <div class="form-group" id="MarkerSelectContainer">
                        <label class="control-label">@Resource.ArtAddLinkToPin</label>
                        @Html.DropDownListFor(m => m.MarkerId, ((List<marker>)ViewBag.Markers).Select(c => new SelectListItem { Selected = Model.MarkerId == c.Id, Text = c.Name + ", " + c.city.Name + ", " + c.city.country.Name, Value = c.Id.ToString() }).Union(new List<SelectListItem> { new SelectListItem { Selected = Model.MarkerId == null, Text = "Нет", Value = null } }), new Dictionary<string, object> { { "id", "EditArticleMarkerSelect" }, { "class", "form-control chosenselect" }, { "required", "" } })
                    </div>
                    <div class="form-group" id="CitySelectContainer">
                        <label class="control-label">@Resource.ArtAddLinkToCity</label>
                        @Html.DropDownListFor(m => m.CityId, ((List<city>)ViewBag.Cities).Select(c => new SelectListItem { Selected = Model.CityId == c.Id, Text = c.Name + ", " + c.country.Name, Value = c.Id.ToString() }).Union(new List<SelectListItem> { new SelectListItem { Selected = Model.CityId == null, Text = "Нет", Value = null } }), new Dictionary<string, object> { { "id", "EditArticleCitySelect" }, { "class", "form-control chosenselect" }, { "required", "" } })
                    </div>

                    <div class="form-group">
                        <label class="control-label">@Resource.Status</label>
                        @Html.DropDownListFor(m => m.StatusId, ((List<status>) ViewBag.Statuses).Select(c => new SelectListItem {Selected = Model.StatusId == c.Id, Text = c.Description, Value = c.Id.ToString()}), new Dictionary<string, object> {{"class", "form-control chosenselect"}, {"required", ""}})
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <input type="button" id="EditArticleFormSubmit" value="@Resource.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        OnEditArticleDocumentReady();
    });
</script>