@using System.Web.Optimization

<div class="row">
    <div class="col-lg-12" id="AdminsTableContainer">
        @Html.Action("_AdminsTablePartial", "Users")
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="EditorsTableContainer">
        @Html.Action("_EditorsTablePartial", "Users")
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="JournalistsTableContainer">
        @Html.Action("_JournalistsTablePartial", "Users")
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/CustomScripts/Users")
    @Scripts.Render("~/CustomScripts/Editors")
    @Scripts.Render("~/CustomScripts/Journalists")
    @Scripts.Render("~/CustomScripts/Admins")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/switchery")
}