@using System.Web.Optimization
@using MapBul.SharedClasses.Constants
@using MapBul.Web.Helpers
@using MapBul.Web.Resource

@if (Html.IsUserInRoles(UserTypes.Admin))
{
    <div class="row">
        <div class="col-lg-12" id="AdminsTableContainer">
            @Html.Action("_AdminsTablePartial", "Users")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="EditorsTableContainer">
            @Html.Action("_EditorsTablePartial", "Users")
        </div>
    </div>
}

@if (Html.IsUserInRoles(UserTypes.Admin,UserTypes.Editor))
{
    <div class="row">
        <div class="col-lg-12" id="JournalistsTableContainer">
            @Html.Action("_JournalistsTablePartial", "Users")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="GuidesTableContainer">
            @Html.Action("_GuidesTablePartial", "Users")
        </div>
    </div>
}

@if (Html.IsUserInRoles(UserTypes.Admin))
{
    <div class="row">
        <div class="col-lg-12" id="TenantsTableContainer">
            @Html.Action("_TenantsTablePartial", "Users")
        </div>
    </div>
}

@section Styles{
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
}

@section Scripts{
    @Scripts.Render(JavaScriptResource.Users)
    @Scripts.Render(JavaScriptResource.Editors)
    @Scripts.Render(JavaScriptResource.Journalists)
    @Scripts.Render(JavaScriptResource.Admins)
    @Scripts.Render(JavaScriptResource.Tenants)
    @Scripts.Render(JavaScriptResource.Guides)
    @Scripts.Render("~/plugins/dataTables")
    @*@Scripts.Render("~/CustomScripts/Users")
    @Scripts.Render("~/CustomScripts/Editors")
    @Scripts.Render("~/CustomScripts/Journalists")
    @Scripts.Render("~/CustomScripts/Admins")
    @Scripts.Render("~/CustomScripts/Tenants")
    @Scripts.Render("~/CustomScripts/Guides")*@
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/switchery")
}