@using MapBul.Web.Resource
@model MapBul.Web.Models.CitiesModel
<div class="col-md-6">
    <div class="ibox">
        <div class="ibox-title">
            <h3>@Resource.DicCountries</h3>
        </div>
        <div class="ibox-content">
            <table class="table table-responsive CitiesTable">
                <thead>
                <tr>
                    <th>Страна</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var country in Model.Countries)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>
                            <input data-id="@country.Id" type="button" class="DeleteCountryButton btn btn-danger" value=@Resource.Delete />
                        </td>
                    </tr>

                }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input class="form-control" id="NewCountryInput" type="text" placeholder="@Resource.DicNewCountry" />
                </div>
                <div class="col-md-10 form-group">
                    <input type="button" class="btn-primary btn" data-actionurl="@Url.Action("AddCountry")" value="@Resource.DicAdd" id="NewCountryButton" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="ibox">
        <div class="ibox-title">

            <h3>@Resource.DicCities</h3>
        </div>
        <div class="ibox-content">
            <table class="table table-responsive CitiesTable">
                <thead>
                <tr>
                    <th>@Resource.City</th>
                    <!--<th>Регион</th>-->
                    <th>Страна</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var city in Model.Cities)
                {
                    <tr>
                        <td>@city.Name</td>
                        <!--<td>city.region.Name</td>-->
                        <td>@city.country.Name</td>
                        <td>
                            <input data-id="@city.Id" type="button" class="DeleteCityButton btn btn-danger" value=@Resource.Delete />
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-md-6">
                    <select class="form-control" id="CountrySelectForCity">
                        @foreach (var country in Model.Countries)
                        {
                            <option data-countryname="@country.Name" data-countrycode="@country.Code" data-placeid="@country.PlaceId" value="@country.Id">@country.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <input class="form-control" id="NewCityInput" placeholder="@Resource.DicNewCity" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="button" class="btn-primary btn" data-actionurl="@Url.Action("AddCity")" value="@Resource.DicAdd" id="NewCityButton"/>
                </div>
            </div>
        </div>
    </div>
</div>