@using MapBul.DBContext
@using MapBul.Web.Resource
@model category
<div class="ibox">
    <div class="ibox-title">
        <h3>@Resource.DicEditCategory</h3>
    </div>
    <div class="ibox-content">
        <form action="/" method="POST" id="EditCategoryForm" enctype="multipart/form-data">
            @Html.HiddenFor(m=>m.Id)
            @Html.HiddenFor(m=>m.ForArticle)
            <div class="form-group">
                <label class="control-label">@Resource.DicCategoryName</label>
                @if (Request.UserLanguages[0].ToUpper().Contains("RU"))
                {
                    @Html.TextBoxFor(m => m.Name, new Dictionary<string, object> { { "placeholder", Resource.Name }, { "class", "form-control" }, { "required", "" } })
                    @Html.TextBoxFor(m => m.EnName, new Dictionary<string, object> { { "placeholder", "Name" }, { "class", "form-control" }, { "style", "margin-top: 5px" } })
                }
                else
                {
                    @Html.TextBoxFor(m => m.EnName, new Dictionary<string, object> { { "placeholder", Resource.Name }, { "class", "form-control" }, { "required", "" } })
                }
            </div>
            <div class="form-group">
                <label class="control-label">@Resource.DicParentCategory</label>
                @Html.DropDownListFor(m => m.ParentId, ((List<category>) ViewBag.Categories).Select(c => new SelectListItem {Selected = Model.ParentId==c.Id,Value = c.Id.ToString(), Text = Request.UserLanguages[0].ToUpper().Contains("RU")? c.Name +" "+c.EnName:c.EnName}).Concat(new List<SelectListItem> {new SelectListItem {Selected = Model.ParentId==null,Text = "Нет", Value = "null"}}), new Dictionary<string, object> {{"data-placeholder", Resource.DicSelectACategory }, {"class", "form-control chosenselect"}})
            </div>
            <div class="form-group">
                <label class="control-label">@Resource.DicCategoryIcon</label>
                <input id="EditCategoryIconInput" name="categoryIcon" type="file" accept="image/jpeg, image/png" class="fileinput"/>
            </div>
            <div class="form-group">
                <label class="control-label">@Resource.DicCategoryPinIcon</label>
                <input id="EditCategoryPinInput" name="categoryPin" type="file" accept="image/jpeg, image/png" class="fileinput" />
            </div>
            <div class="form-group">
                <label class="control-label">@Resource.DicColor</label>
                @Html.TextBoxFor(m => m.Color, new Dictionary<string, object> { { "placeholder", Resource.DicColor }, { "required", "" }, { "class", "form-control colorInputCategoryEdit" } })
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <input id="EditCategoryFormSubmit" type="button" class="btn btn-primary" value="@Resource.Save"/>
                    </div>
                    <div class="col-xs-6">
                        <input id="DeleteCategoryButton" type="button" class="btn btn-danger" value=@Resource.Delete />
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

