@using System.Web.Optimization
<html>
<head>
    <meta content="initial-scale=1, width=device-width, user-scalable=no" name="viewport">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css">

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)
    }
    @Styles.Render("~/css/style")
    @Styles.Render("~/plugins/css/datePicker")




</head>
<body>

@Html.Partial("_Navigation")

<section id="map_row">
    @RenderBody()
</section>

<section class="inner_section">
    <div class="sk-fading-circle" id="Loading">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
    <div id="PopupWindow"></div>
</section>

<section id="bottom_row">
    <div class="wrapper">
        <a href='@Url.Action("Index", "Home")' class="logo"></a>
        <div class="download_block">
            <a href="#">
                <img src='@Url.Content("~/Images/appstore.png")' alt="">
            </a>
            <a href="#">
                <img src='@Url.Content("~/Images/googleplay.png")' alt="">
            </a>
        </div>
    </div>
</section>


<footer>
    <div class="wrapper">
    </div>
</footer>









@Scripts.Render("~/js/jquery")
<script type="text/javascript" src="~/Scripts/jquery.datepicker.min.js"></script> <!--через bundle работать отказывается-->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
@Scripts.Render("~/js/custom/index")

@RenderSection("Scripts", required: false)
</body>
</html>



