@using System.Web.Optimization


<div class="row" id="MarkersContainer">
    @Html.Action("_MarkersTablePartial")
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts{
    @Scripts.Render("~/CustomScripts/Markers")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/nestable")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/iCheck")
    <script src="https://maps.googleapis.com/maps/api/js">
    
    </script>
}
