@using MapBul.SharedClasses.Constants
@model MapBul.Web.Models.NewTenantModel

<div class="panel">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("EditTenant", "Users", new AjaxOptions { HttpMethod = "POST", OnSuccess = "EditTenantSuccess", OnFailure = "ViewNotification('Не удалось сохранить изменения','error')", AllowCache = false }))
        {
            @Html.HiddenFor(m => m.Id)
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LastName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Фамилия" } })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.FirstName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Имя" } })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.MiddleName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Отчество" } })
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.Gender, UserParameters.Sex.Select(s => new SelectListItem { Text = s, Value = s }), new Dictionary<string, object> { { "class", "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Phone, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Телефон" }})
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Address, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Адрес" } })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("BirthDate", Model.BirthDate!=null?Model.BirthDate.Value.ToString("dd.MM.yyyy"):"", new Dictionary<string, object> { { "class", "form-control datepicker" }, { "placeholder", "Дата рождения" } })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Email" }, { "required", "" } })
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">Заблокирован</label>
                        @Html.CheckBoxFor(m => m.Deleted, new Dictionary<string, object> {{"class", "checkbox"}})
                    </div>
                    <div class="form-group">
                        @Ajax.ActionLink("Удалить", "DeleteUser", new { userId = Model.UserId }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "DeleteSuccess(data,RefreshTenantsTable)", OnFailure = "ViewNotification('Ошибка', 'error')" }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить" />
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('.datepicker').datepicker({ language: "ru" });

        $('.chosenselect').chosen();

        var a = $('.checkbox');
        a.each(function () {
            Switchery(this, { color: '#1AB394' });
        });
    });
</script>