<div class="col-md-4">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Регионы</h3>
        </div>
        <div class="ibox-content">
            <table class="table table-responsive CitiesTable">
                <thead>
                    <tr>
                        <th>Регион</th>
                        <th>Страна</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var region in Model.Regions)
                    {
                        <tr>
                            <td>@region.Name</td>
                            <td>@region.country.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input class="form-control" id="NewRegionInput" placeholder="Новый регион" />
                </div>
                <div class="col-md-6 form-group">
                    <select class="form-control" id="CountrySelectForRegion">
                        @foreach (var country in Model.Countries)
                        {
                            <option data-placeid="@country.PlaceId" value="@country.Id">@country.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="button" class="btn-primary btn" data-actionurl="@Url.Action("AddRegion")" value="Добавить" id="NewRegionButton" />
                </div>
            </div>
        </div>
    </div>
</div>