@using System.Web.Optimization
@using MapBul.XIsland.Helpers
@model MapBul.XIsland.Models.ArticlesListModel
<div class='wrapper'>
    <ul class='list_row'>
        @foreach (var article in Model.Articles)
        {
            <li>
                <a class='list_link' href="#" data-id="@article.Id" data-url="@Url.Action("_ArticleInfoPartial")">
                    <img src='@Html.MapImage(article.TitlePhoto)'>
                    <div class='subj_block'>@article.Title</div>
                    <div class='open_btn'></div>
                    <div class='post_date'>@(article.PublishedDate != null ? article.PublishedDate.Value.ToString("dd.MM.yyyy") : "Не указано")</div>
                    <br class='clear'>
                </a>
                <div class="tags_line">
                    @foreach (var tag in article.articlesubcategory)
                    {
                        <a href="#">#@tag.category.Name</a>
                    }
                </div>
            </li>
        }
    </ul>
</div>

@Scripts.Render("~/js/custom/articles")

<script type="text/javascript">
    ArticlesListDocumentReady();
</script>