@using MapBul.SharedClasses.Constants
@using MapBul.Web.Helpers
@using MapBul.Web.Resource

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
        <li class="nav-header">
            <div class="row text-center" style="margin: 0 0 20px 0">
                <a href="@Url.Action("Index","Home")">
                    <span style="font-size: 40px; color: #ddd;">
                        <i class="fa fa-globe"></i>
                    </span>
                </a>
            </div>
            <div class="logo-element">
                Map Bul
            </div>
        </li>

        
        @if (Html.IsUserInRoles(UserTypes.Admin))
        {
            <li class="@Html.IsSelected(controller: "Dictionaries", action: "Index")">
                <a href="@Url.Action("Index", "Dictionaries")"><i class="fa fa-database"></i><span class="nav-label">@Resource.NavDictionaries</span> </a>
            </li>
        }
        @if (Html.IsUserInRoles(UserTypes.Admin, UserTypes.Editor, UserTypes.Journalist))
        {
            <li class="@Html.IsSelected(controller: "Articles", action: "Index")">
                <a href="@Url.Action("Index", "Articles")"><i class="fa fa-edit"></i><span class="nav-label">@Resource.NavArticles</span> </a>
            </li>
        }
        @if (Html.IsUserInRoles(UserTypes.Admin, UserTypes.Editor))
        {
            <li class="@Html.IsSelected(controller: "Markers", action: "Index")">
                <a href="@Url.Action("Index", "Markers")"><i class="fa fa-map-marker"></i><span class="nav-label">@Resource.NavPins</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Users", action: "Index")">
                <a href="@Url.Action("Index", "Users")"><i class="fa fa-user"></i><span class="nav-label">@Resource.NavUsers</span> </a>
            </li>
        }
    </ul>
    </div>
</nav>

